/* .cause {
        padding: 15px;
        margin: 15px;
        font-family: poppins;
        color: blue;
        text-align: center;
    }
    
    .slide-1 {
        display: flex;
        padding-left: 100px;
    }
    
    .card {
        padding: 20px;
        margin: 15px;
        align-items: center;
    }
    
    .modern {
        display: flex;
        background-color: rgb(245, 198, 9);
    }
    
    .unite ul {
        list-style: none;
    }
    
    .unite li {
        display: inline-block;
        padding: 10px;
        margin: 10px;
    }
    
    .unite a {
        text-decoration: none;
        color: beige;
        font-weight: 400;
    }
    
    .unite a :hover {
        background-color: rgb(240, 13, 58);
        border-radius: 10px;
    }
    
    .dot {
        align-items: flex-end;
        border-radius: 8px;
    }
    
    .brand {
        color: black;
        font-size: 16px;
        font-weight: 500;
        font-family: cursive;
        padding-left: 0%;
    }*/